*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.signup{
    display: flex;
    justify-content: center;
    height: 45rem;
    align-items: center;
}
.sign{
    border: 1px solid #e1e8dd;
    border-radius: 0.3rem;
    width: 27rem;
    text-align: center;
    padding: 2rem 0;
}
.sign_btn{
    padding: 7px 130px;
    font-size: 17px;
    border-radius: 0.2rem;
    margin: 3rem 0 1rem;
    border: none;
    background-color: #108a00;
    color: white;
}
.sign_btn:hover {
    background-color: #3ca002;
}
.log_link a{
    color: green;
}
.log_link a:hover{
    color: #3ca002;
}


